body {
  font-family: 'Old Standard TT', serif;
background-color: black;
  color: white;
}
h1{
  font-size: 100px;
  margin-bottom: 25px:
}
p{
  font-size: 35px;
  margin-left: 25px;
  margin-right: 25px;
}